    @import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Noto+Sans:ital,wght@0,300;1,300&family=Raleway:wght@200&family=Roboto:ital,wght@0,300;1,700;1,900&display=swap');
    #body {
        font-family: 'Roboto', sans-serif;
    }
    
    .caixa {
        border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
        padding: 30px;
        margin: 20px;
        width: 400px;
        transition: all 0.3s ease-out;
    }
    
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .caixa:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }
    
    .caixa p {
        color: #a3a5ae;
        font-size: 10px;
    }
    
    .image {
        float: right;
        max-width: 64px;
        max-height: 64px;
    }
    
    .blue {
        border-left: 3px solid #4895ff;
    }
    
    .green {
        border-left: 3px solid #3bb54a;
    }
    
    .red {
        border-left: 3px solid #b3404a;
    }